.resize-box:not(.disabled) {
    --handler-color: #fdca3f;
    --handler-width: 6px;
    --handler-right: -2px;
    --handler-hover-opacity: 0.3;
    position: relative;
}

.resize-box:not(.disabled) .handler {
    opacity: 0;
    position: absolute;
    right: var(--handler-right);
    inset-block: 0;
    width: var(--handler-width);
    background-color: var(--handler-color);
    cursor: col-resize;
}

.resize-box:not(.disabled) .handler:hover {
    opacity: var(--handler-hover-opacity);
}

.resize-box:not(.disabled).dragging {
    z-index: 99;
    overflow: initial;
    opacity: 1;
}

.resize-box:not(.disabled).dragging .handler {
    opacity: 1;
}
