.resize-box:not(.disabled) {
    position: relative;
}
.resize-box:not(.disabled) .handler {
    position: absolute;
    right: -1px;
    inset-block: 0;
    width: 3px;
    background-color: blueviolet;
    cursor: col-resize;
}

.resize-box:not(.disabled).active {
    z-index: 99;
    overflow: initial;
}